
@{
    ViewBag.Title = "Crear Empleado";
}

<div class="card" id="cardCreate">
    <div class="card-header">
        <h4 class="card-title">
            AGREGAR EMPLEADO
        </h4>
        <a href="/Empleados" class="btn btn-sm btn-success">Regresar</a>
    </div>
    <form id="formCreate" method="post" role="form" action="/Empleados/Create">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Nombre">Nombre</label>
                        <input type="text" id="Nombre" class="form-control" name="Nombre" required />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Apellido">Apellido</label>
                        <input type="text" id="Apellido" class="form-control" name="Apellido" required />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Dpi">Dpi</label>
                        <input type="text" id="Dpi" class="form-control" name="Dpi" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Direccion">Direccion</label>
                        <input type="text" id="Direccion" class="form-control" name="Direccion" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Telefono">Telefono</label>
                        <input type="number" id="Nombre" class="form-control" name="Telefono" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="UserName">UserName</label>
                        <input type="text" id="UserName" class="form-control" name="UserName" required/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Passwor">Password</label>
                        <input type="password" id="Password" class="form-control" name="Password" required/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Role">Role</label>
                        <input type="text" id="Role" class="form-control" name="Role" />
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <button data-title="Guardar" class="btn bg-primary">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>