
@{
    ViewBag.Title = "Welcome";
}
<a href="/Empleados" class="btn btn-sm btn-success">Regresar</a>

<h2>Welcome @ViewBag.Empleado.Nombre @ViewBag.Empleado.Apellido tu Role es: @ViewBag.Empleado.Role</h2>

